# GLOBAL
DEBUG=false
PORT=3100
EMBY_URL=http://emby:8096
EMBY_API_KEY=
DISABLED_MODULES=

# IMPORT TIME SAVER
EMBY_LIBRARY_VIEW_USER=
PERFORM_INITIAL_SYNC=true
DB_PATH=/data/import_saver_db.json
FORGET_TIME=3d
SYNC_INTERVAL=30m

# TRAILER REQUESTS
RADARR_URL=http://radarr:7878
RADARR_KEY=
ROOT_FOLDER_PATH=/mnt/media/Movies
QUALITY_PROFILE=HD-1080p
RADARR_TAG=trailer-requests

# BANDWIDTH SAVER
QBIT_HOST=http://host.docker.internal:8080
QBIT_USER=admin
QBIT_PASS=jxap8jqIBLG2J0X3a2KVI86c
POLL_INTERVAL=5
LOCAL_SUBNET=192.168.1.0/24

# GITHUB RELEASE WATCHER
NTFY_URL=https://ntfy.sh/release-watcher
NTFY_AUTH=
CHECK_INTERVAL=30m
REPO_FILE=/release-watcher.txt
DB_FILE=/data/release_watcher_db.json
GH_API_KEY=